.container {
  position: relative;
  padding: 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows:
    minmax(8rem, min-content)
    minmax(40vh, min-content)
    minmax(30vh, min-content)
    minmax(24rem, min-content);

  grid-template-columns: 1fr [main-start] 45vw 45vw [main-end] 1fr;
}
