@import "/client/src/assets/styling/base";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-weight: 300;
  line-height: 1.6;
  border: 1px solid black;
}
