.handyman {
  margin: auto;
  font-family: "Nunito", "Josefin Sans", sans-serif;
  font-size: medium;
  margin-top: 5rem;
  margin-bottom: 20rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1.2px;
}

figure {
  order: 1;
  width: 30%;
  text-align: center;
  border-radius: 1.5rem;
}

figure p.handyman-name {
  font-size: 3rem;
  font-weight: 600;
  color: #b16611;
}

.bio-handyman {
  order: 2;
  width: 65%;
  align-self: flex-start;
}
.bio-handyman > h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
  color: #f49a34;
}
.bio-handyman > p {
  text-align: justify;
}

a.link-btn-quote {
  order: 4;
  width: 65%;
  display: block;
  text-align: center;
  text-decoration: none;
}
a.top-link {
  display: block;
}
#btn-quote {
  padding: 0.5rem 1.5rem;
  font-size: 3rem;
  border-radius: 0.5rem;
  border-color: #f49a34;
  background-color: #f49a34;
}

.handyman .skills {
  text-align: center;
  order: 3;
  width: 30%;
  margin-top: 4rem;
}
.handyman .skills > h3 {
  font-size: 2.5rem;
  color: #f49a34;
}
.handyman .skills .skills-list {
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  gap: 0.6rem;
  margin-top: 0.8rem;
}
.handyman .skills .skills-list > li {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  background-color: rgb(39, 102, 102);
  border-radius: 0.3rem;
  font-size: 2rem;
  color: aliceblue;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .handyman {
    width: 97%;
    flex-flow: column wrap;
  }

  figure,
  .bio-handyman {
    width: 100%;
  }

  figure .profile-image {
    width: 70%;
  }

  .handyman .skills {
    width: 90%;
  }

  figure {
    order: 1;
  }

  a.top-link {
    order: 2;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .bio-handyman {
    order: 3;
  }
  .handyman .skills {
    order: 4;
    margin-top: 4rem;
    margin-bottom: 6rem;
  }
  a.bottom-link {
    order: 5;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .handyman {
    width: 95%;
  }
  figure,
  .handyman .skills {
    width: 27%;
  }
  .bio-handyman,
  a.link-btn-quote {
    width: 68%;
  }
  figure {
    order: 2;
  }

  a.top-link {
    order: 1;
    width:100%;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .bio-handyman {
    order: 3;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .handyman {
    width: 85%;
  }
  figure,
  .handyman .skills {
    width: 25%;
  }
  .bio-handyman,
  a.link-btn-quote {
    width: 70%;
  }
  a.top-link {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .handyman {
    width: 80%;
  }
  .bio-handyman,
  a.link-btn-quote {
    width: 65%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .handyman {
    width: 75%;
  }
}