.customer  {
    text-align: center;
    width: 24%;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
    padding: 1rem;

    img {
        width: 16rem;
    }

    p {
        font-size: 1.5rem;
    }
}