@import "/client/src/assets//styling/base";
@import "/client/src/assets/styling/animation";

.primary {
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  display: grid;
  justify-items: center;
  align-items: center;

  height: 100%;
  width: 100%;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(rgb(85, 168, 196), 0.8),
      rgba(rgb(44, 44, 194), 0.8)
    ),
    url("../../../public/emmanuel-ikwuegbu-zWOgsj3j0wA-unsplash.jpg");
  background-size: cover;
  background-position: top;

  &__heading {
    font-family: $font-primary;
    color: white;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin-bottom: 6rem;
    margin-top: 6rem;

    &__main {
      display: block;
      font-size: 5rem;
      animation-name: moveFromLeft;
      animation-duration: 1s;
      animation-timing-function: easy-out;
    }

    &__sub {
      display: block;
      font-size: 6rem;
      animation-name: moveFromRight;
      animation-duration: 1s;
      animation-timing-function: easy-out;

      span {
        font-size: 7rem;
      }
    }
  }

  //TODO: styling of this button is not the same
  &__button {
    display: inline-block;
    font-family: $font-secondary;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    font-weight: 600;
    width: 28rem;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: easy-out;
    letter-spacing: 1px;

    &__publish {
      margin-right: 1rem;
      border: 1px solid #f49a34;
      color: #f49a34;
      font-size: 1.6rem;
      &:hover {
        color: white;
        background-color: #f49a34;
      }
    }

    &__hire {
      margin-left: 1rem;
      border: 1px solid #f49a34; //added border to make them the same size
      background-color: #f49a34;
      color: white;
      font-size: 1.6rem;
      &:hover {
        background-color: #d6862b;
      }
    }
  }
}
