.logo {
    background-color: inherit;
    padding: 8px;
    height: 8rem;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    display: inline-block;
}

.logo img {
    display: inline-block;
    height: 100%;

}