/*****************************************************************input fields  styling ***********************************************/

.form-group{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: larger;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
} 

.form-group :first-child, .form-group :nth-child(2){
    display: flex;
    flex-direction: column;

}
.form-group  > div > input{
    width: 20em;
    height: 4.3rem;
    margin-left: 2em;
    margin-right: 2em;
    
}
.form-group  > div > label{
    margin-left: 2em;

}

.btn-primary{
  margin-top: 2.4em;  
  color: white;
  background-color: blue;
  width: 10rem;
  height: 4.3rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
 font-size: larger;
 font-weight: 600;

  margin: 2rem auto;
  border: none;
  border-radius: .3rem;
  text-align: end;


}

.message{
    text-align: center;
}

p.message{
    font-size: 1.5rem;
}

p.results-found-message{
    color: dodgerblue;
}

p.no-results-found-message{
    color: rgb(255, 64, 30);
}

/*****************************************************************cards container styling ***********************************************/

.cards-container{
    margin-left: 1em;
    margin-right: 1em;
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
  
}
/*****************************************************************individual card styling ***********************************************/
.one-card-container{
    padding: 4vh 0 4vh 0;
    font-size: medium;
    display: flex;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 1rem;
    justify-content: space-evenly;
}

.one-card-container :nth-child(3){
    list-style: none;
    min-width: 10rem;
    text-align: center;
}
.name-image {
    text-align: center;
}

.name-image img{
    height: 15rem;
    width: 20rem;
    border-radius: 1rem;


}
.name-image a {
    text-decoration: none;
    color: black;
}
.bio{
    width: 50%;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: justify;
}