
#form-add-handyman{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
  font-size: medium;
}
#form-add-handyman :nth-child(n+2){
  margin-top: 0.5rem;
  margin-bottom: .5rem;
}
#form-add-handyman fieldset.input-field-group{
  border:1.5px solid black;
  margin:1.5rem 0;
  padding:0.5rem 2rem;
}
.title{
  text-align: center;
}
.input-field-bio :nth-child(2) {
  width:100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 10rem;
}

input[id=other-skills]{
  width:60%;
}

.submit-button-div input{
  background-color: rgb(40, 129, 245);
  width: 7rem;
  height: 4rem;
  color: white;
  border: none;
  border-radius: .5rem;
  font-size: medium;
}