@import "../../assets/styling/base.scss";

.footer {
  background-color:lightblue;
  grid-column: main-start / main-end;
  grid-row: 4 / 5;

  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.25);

  font-family: $font-secondary;
  display: grid;
  grid-template-rows: 1fr 0.5fr ;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-items: center;

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 1fr 1fr 0.5fr ;
  }

  &__listOfIcons {
    list-style: none;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      width: 65%;
      justify-content: space-evenly;
    }

    li:hover img {
      transform: translateY(-4px);
    }

    img {
      display: block;
      height: 3.5rem;
      width: 3.5rem;
      margin: 0 1rem;

    }
  }

  &__contactList {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      margin-bottom: 1rem;
    }
    li {
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }
  
  &__end {
    grid-column: 1/ 3;
    grid-row: 2 / 3;


    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
    }
    p{
      font-size: 1.3rem;
    }
  }
}
