@import "/client/src/assets//styling/base";
@import "/client/src/assets/styling/animation";

.about {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  background-color: rgb(233, 230, 230);

  display: grid;
  grid-template-columns: 0.3fr repeat(2, 1fr) 0.3fr;
  grid-template-rows: 0.8fr 1fr 0.8fr;

  justify-items: center;
  align-items: center;

  height: 100%;
  width: 100%;
  text-align: center;
  &__heading {
    font-family: $font-primary;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    font-size: 4rem;
  }

  &__description {
    font-family: $font-secondary;
    font-weight: 400;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    width: 80%;
    font-size: 2rem;
    line-height: 2;
  }

  &__list {
    list-style: none;
    width: 100%;
    display: flex;
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    justify-content: space-evenly;

    &__element {
      display: relative;
      background-color: white;
      width: 22rem; // simple trick to make all logos the same size.
      height: 7rem;
      
      img {
        margin: 0 auto;
        display: block;
        height: 100%;
      }
    }
  }
}
