#form-send-quote {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
  font-size: medium;
}

#form-send-quote :nth-child(n + 2) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#form-send-quote fieldset.input-field-group{
  border:1.5px solid black;
  margin:1.5rem 0;
  padding:0.5rem 2rem;
}

.title{
  text-align: center;
  margin-bottom: 3rem;
}

.subtitle{
  font-size: 2.5rem;
  font-weight: 600;
}

.required,.error{
  color:red;
}

.input-field textarea {
  width: 100%;
  height: 8rem;
}

span.bold{
  font-size: large;
  font-weight: bold;
}

#form-send-quote div.handyman-skills{
  display: flex;
  align-items: center;
}

#form-send-quote ul.skills{
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

#form-send-quote ul.skills> li{
  margin:0 1.5rem 0 1rem;
  font-weight: bold;
}

.submit-button-div input {
  background-color: rgb(40, 129, 245);
  width: 7rem;
  height: 4rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: medium;
}

.submit-button-div input:hover{
  cursor: pointer;
}