
.contact_container{
<<<<<<< HEAD:client/src/components/contact/Contacts.module.css
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(240, 11, 22, 0.144);
=======
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(236, 142, 248, 0.075);
>>>>>>> 7f8fa5611566fca6e487fd304b5de14b773e6b80:client/src/components/contact/Contact.module.css
}
.contact_container h1{
    text-align: center;
    font-style: italic;
    font-weight: 400;
}
.contact_text{
    text-align: justify;
    padding-top: 2rem;
    padding-bottom: 2rem;
   font-weight: 300;
   font-size: large;


}
.contact_info{
   padding-top: 2rem;
   padding-bottom: 2rem;
   font-weight: 400;
   font-size: large;
}
.input_fields_container{

    margin-top: 3rem;
}

.button_submit_form {
    margin-top: 1rem;;
    padding: 1rem 1.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: justify;
}
.input_fields_container > .input_field > label,.message label{
    padding-right: 2rem;
    font-size: large;
    font-weight: 400;
}
.message textarea{
    height: 7rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.btn_submit{
    height: 3.5rem;
    background-color: rgb(43, 43, 206);
    color: white;
    font-weight: 400;
    font-size: medium;
    border: none;
    border-radius: 5px;
    padding:1rem;


}