.explanation {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  background-color: lightgrey;

  display: grid;
  grid-template-columns: 0.3fr repeat(2, 1fr) 0.3fr;
  grid-template-rows: repeat(3, 1fr);

  justify-items: center;
  align-items: center;

  height: 100%;
  width: 100%;
  text-align: center;
}